canvas{
  position: absolute;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: 'Didact Gothic';
  background: #555555;
}

header{
  text-align: center;
  align-content: center;
  background-color: #00AAAA;
}

h1{
  padding: 20px;
  margin: 0px;
}
.memory-box{
  width: 400px;
  height: 300px;
  padding: 20px;
  align-content: center;
  display: inline-block;
  border-style: solid;
  border-color: #555555;
  background-color: #FFFFFF;
}

.box-name{
  font-size: 20px;
  margin: 10px;
  text-align: center;
  background-color: #00BBBB;
  padding:5px;
}

.ram-watcher{
  width: 200px;
  height: 200px;
  display: inline-block;
}

.swap-watcher{
  width: 200px;
  height: 200px;
  display: inline;
}

.gauge-center-text{
  position: absolute;
  display: inline-block;
  width: 200px;
  padding: 0px;
  margin-top: 66px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.gauge-top-text{
  position: absolute;
  display: inline-block;
  width: 200px;
  padding: 0px;
  margin-top: 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.gauge-bottom-text{
  position: absolute;
  display: inline-block;
  width: 200px;
  padding: 0px;
  margin-top: 130px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.gauge-name{
  position: absolute;
  display: inline-block;

  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 210px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  background-color: #00BBBB;
}
