body{
  padding: 0px;
  margin: 0px;
  font-family: 'Didact Gothic';
  background: #555555;
  align-content: center;
}

header{
  text-align: center;
  align-content: center;
  background-color: #00AAAA;
}

h1{
  padding: 20px;
  margin: 0px;
}

footer{
  position:fixed;
  left: 0px;
  bottom: 0px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  color: #AAAAAA;
  width: 100%;
  background-color: #444444;
  fill: currentColor;
}

a{
  color: #AAAAAA;
}

section{
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

footer > a:hoover{
  color: #AAAAAA;
}

.gauge-canvas{
  position: absolute;
}

.login-box{
  background-color: #FFFFFF;
  display: block;
  align-self: center;
  text-align: center;
  padding: 20px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 400px;
  border: 3px solid #444444;
}

.invalid-box{
  background-color: #AA0000;
  display: block;
  align-self: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 350px;
  border: 3px solid #444444;
  color: #FFFFFF;
}

.login-title{
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top-bottom: 10px;
  padding-: 10px;
  background-color: #00AAAAAA;
}

.gauge-list{
  display: flex;
}

.memory-box{
  padding: 20px;
  width: 400px;
  height: 300px;
  border-color: #555555;
  background-color: #FFFFFF;
  display: inline-grid;
}

.cpu-box{
  padding: 20px;
  width: 500px;
  height: 300px;
  border-style: solid;
  border-color: #555555;
  background-color: #FFFFFF;
  display: inline-grid;
}

.box-name{
  font-size: 20px;
  margin: 10px;
  text-align: center;
  background-color: #00BBBB;
  padding:5px;
}

.ram-watcher{
}

.swap-watcher{
  display: grid;
}

.gauge-center-text{
  position: absolute;
  display: inline-block;
  width: 200px;
  padding: 0px;
  margin-top: 66px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.gauge-top-text{
  position: absolute;
  display: inline-block;
  width: 200px;
  padding: 0px;
  margin-top: 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.gauge-bottom-text{
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 0px;
  margin-top: 130px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.gauge-name{
  display: block;
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  background-color: #00BBBB;
}
